package main

import (
	"flag"
	"fmt"
	"os"
)

func main() {
	logFile := flag.String("log-file", "", "append JSONL output to file")
	flag.Parse()
	args := flag.Args()
	if len(args) < 1 {
		printTopHelp()
		os.Exit(1)
	}

	switch args[0] {
	case "-h", "--help":
		printTopHelp()
		os.Exit(0)
	case "skill":
		handleSkill(args[1:])
{{- range .Actions }}
	case "{{ . }}":
		handleAction{{ handlerName . }}(args[1:])
{{- end }}
	default:
		fmt.Fprintf(os.Stderr, "unknown subcommand: %s\n", args[0])
		printTopHelp()
		os.Exit(1)
	}
	_ = logFile
}

func printTopHelp() {
	fmt.Println("{{ .CliName }} - {{ .CliDescription }}")
	fmt.Println("Usage:")
	fmt.Println("  {{ .CliName }} <subcommand> [flags]")
	fmt.Println("Subcommands:")
{{- range .Actions }}
	fmt.Println("  {{ . }}")
{{- end }}
	fmt.Println("  skill")
}

func handleSkill(_ []string) {
	fmt.Println("TODO: skill output")
}
{{- range .Actions }}

func handleAction{{ handlerName . }}(_ []string) {
	fmt.Println("TODO: {{ . }}")
}
{{- end }}
