package main

func isSecretEnv(name string) bool {
	switch name {
{{- range .SecretEnvNames }}
	case "{{ . }}":
		return true
{{- end }}
	default:
		return false
	}
}

func redactSecret(name, value string) string {
	if isSecretEnv(name) {
		return "[REDACTED]"
	}
	return value
}
